* {
    /* font-family: 'Montserrat', sans-serif; */
}

h1 {
    /* font:'Montserrat' 3rem; */
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
}